<div class="container margen">
    <div class="col">
        <a href="/links" class="btn btn-lg btn-primary">Regresar</a>
    </div>
    <h1 class="centar">Editar paciente</h1>
    <div class="row">
        <div class="col mx-auto">
            <div class="card-body">
                <form action="/links/edit/{{paciente.codigo_paciente}}" method="POST">
                    <div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label>Nombres del paciente</label>
                                    <input type="text" value="{{paciente.nombres_paciente}}" class="form-control" name="nombres_paciente" placeholder="Nombres paciente" autofocus>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label>Apellidos del paciente</label>
                                    <input type="text" value="{{paciente.apellidos_paciente}}" class="form-control" name="apellidos_paciente" placeholder="Apellidos paciente">
                                </div>
                            </div>
                        </div>  
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label>Fecha de Nacimiento del paciente</label>
                                    <input type="date" value="{{paciente.fecha_nac}}"class="form-control" name="fecha_nac">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label>Teléfono paciente</label>
                                    <input type="text" value="{{paciente.telefono_paciente}}" class="form-control" name="telefono_paciente" placeholder="5555555" maxlength="8">
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="col margenBotones">
                            <div class="form-group">
                                <button class="btn btn-primary">Guardar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>